body{
  background: #1d6f0d;
}

header, main, footer {
  min-width: 1200px; /* 1200/3 = 400 */
}

*.container {
  max-width: 1200px;
  margin: auto;
}

*.error {
  color: red;
}

*.details {
  max-width: 800px;
  float: right;
}

*.highlight td {
  background-color: #f0e40a;
}

*.outoperation td {
  color: red;
}

*.inoperation td {
  color: green;
}

header, main {
  background: white;
  overflow: auto;
}

header h1{
  font-family: 'Denk One', sans-serif;
  float: left;
}

header nav{
  float: right;
}

#CAtable {
  max-width: 400px;
  float: left;
}

#CATable th, #CATable td {
    border: 1px solid black;
}

th, td {
  padding: 5px;
  text-align: left;
}
